<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
    <meta charset="UTF-8">
    <title>Owners Page</title>
</head>
<body>
<h2 th:text="'List All Owners'">List all owners....</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 150px">ID</th>
            <th style="width: 150px">Firstname</th>
            <th style="width: 150px">Lastname</th>
        </tr>
    </thead>
    <tbody>
        <!--/*@thymesVar id="owner" type="dash.springframework.dashpetclinic.model.Owner"*/-->
        <tr th:each="owner : ${owners}">
            <td th:text="${owner.id}">ID</td>
            <td th:text="${owner.firstName}">FName</td>
            <td th:text="${owner.lastName}">LName</td>
        </tr>
    </tbody>
</table>

</body>
</html>

